body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;}
    body#bg-img1 {
        width: 100%;
        height: 100vh;
        background: url(assets/main-bg.jpg);
        background-size: cover;}
    body#bg-img2 {
        width: 100%;
        height: 100vh;
        background: url(assets/the-games-bg.jpg);
        background-size: cover;}
    body#bg-img3 {
        width: 100%;
        height: 100vh;
        background: url(assets/features.jpg);
        background-size: cover;}
    body#bg-img4 {
        width: 100%;
        height: 100vh;
        background: url(assets/requirements.png);
        background-size: cover;}
    body#bg-img5 {
        width: 100%;
        height: 100vh;
        background: url(assets/the-games-bg.jpg);
        background-size: cover;}

.transparan {
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar-brand {
    font-size: 30px;
    margin-left: 50px;
    font-weight: bold;
}
.nav-link:hover {
    font-weight: bold;
    background-color: #28a745;
    border-radius: 8px;
}
.nav-active {
    font-weight: bold;
    text-shadow: 4px 4px 10px #28a745;
    border-radius: 8px;
}
.logo:hover {
    background-color:blue;
    border-radius: 5px;
}
.step {
    list-style-type: circle;
    margin-top: 36px;
}
.none {
    list-style-type: none;
}